.banner-wrapper {
  position: relative;
  background-color: var(--body-bg);
  span {
    margin-left: 0px;
    display: flex;
    align-items: center;
    gap: 0rem;
    font-family: var(--font-bold);
    text-align: center;
    @media (min-width: 600px) {
      margin-left: 20px;
      text-align: start;
    }
  }

  span hr {
    display: none;
    border: none;
    height: 1px;
    background-color: var(--black);
    width: 70px;
  }
}
.icon-banner-wrapper {
  display: none;
  font-size: 25px;
}
.banner-carousel {
  overflow: hidden;
  width: 100vw;
  height: 450px;
}

.arrow-left,
.arrow-rigth {
  position: absolute;
  top: 50%;
  cursor: pointer;
  ion-icon {
    font-size: 35px;
  }
}
.arrow-left {
  left: 0%;
}
.arrow-rigth {
  right: 0;
}
.banner-container {
  display: flex;
  transition: transform 0.7s ease-in-out;
  width: 100%;
  height: 450px;
}

.banner-slide {
  width: 100vw;
  height: 450px;
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}
.banner-overlay {
  padding: 2rem;
  width: 100vw;
  height: 100%;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (min-width: 445px) {
    padding: 3rem;
  }
}
.banner-overlay-left,
.banner-overlay-rigth {
  display: flex;
}
.banner-overlay-left {
  width: 90vw;
  flex-direction: column;
  gap: 8px;
  background-color: transparent;
  border-radius: 10px;
  @media (min-width: 445px) {
    width: 45vw;
  }
}
.banner-titulo {
  font-size: 28px;
  text-transform: bold;
}
.banner-description {
  display: none;
  font-size: 13px;
  @media (min-width: 445px) {
    display: block;
  }
}
.banner-category {
  display: flex;
  justify-content: start;
  align-items: center;
  span {
    font-size: 12px;
    margin-left: 4px;
    color: var(--text-shadow);
    text-decoration: underline;
  }
}
.banner-overlay-rigth {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  @media (min-width: 600px) {
    width: 60%;
  }
}

.banner-discountPercentage {
  width: auto;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 4px 6px;
  border: solid 1px transparent;
  background-color: var(--green);
  border-radius: 22px;
  color: var(--navbar-bg);
  p {
    font-size: 20px;
    font-weight: 600;
  }
  ion-icon {
    font-size: 20px;
  }
}
.banner-rating {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
  ion-icon {
    font-size: 16px;
    color: var(--text-shadow);
  }
}

.banner-price {
  margin-left: 40px;
  font-size: 20px;
  color: var(--text-shadow);
  font-weight: 800;
  text-shadow: 1px 2px 3px var(--text-shadow);
}
.indicators {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}

.indicator {
  width: 10px;
  height: 10px;
  background-color: var(--black);
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  scale: 0.8;
}

.indicator.active {
  background-color: var(--text-shadow);
  scale: 1;
}

@media (min-width: 992px) {
  .banner-wrapper {
    span {
      gap: 1rem;
    }
    span hr {
      display: block;
    }
  }
  .icon-banner-wrapper {
    display: block;
  }
  .banner-slide {
    background-position: center;
  }
  .banner-overlay {
    flex-direction: row;
    justify-content: space-between;
  }
  .banner-overlay-left {
    width: 40vw;
    background-color: transparent;
    backdrop-filter: blur(0px);
    border-radius: 10px;
    box-shadow: 0px 0px 0px transparent;
  }
  .banner-overlay-rigth {
    width: 50%;
    height: 100%;
    gap: 1rem;
    margin-top: 1rem;
    margin-right: 2rem;
    justify-content: center;
    align-items: center;
  }
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.carousel-logos-title {
  padding: 1rem;
  width: 100vw;
  font-family: var(--font-bold);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.carousel-logos {
  position: relative;
  background: var(--body-bg);
  padding: 60px 0;
  white-space: nowrap;
  overflow: hidden;
}

.carousel-logos::before,
.carousel-logos::after {
  content: "";
  position: absolute;
  top: 0;
  width: 40px;
  height: 100%;
  z-index: 80;
}

.carousel-logos::before {
  left: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.2), transparent);
}

.carousel-logos::after {
  right: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.2), transparent);
}

.carousel-logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 25s slide infinite linear;
}

.logos-slide img {
  height: 50px;
  margin: 0 40px;
}
