.banner-wrapper {
  position: relative;
  background-color: var(--body-bg);
  span {
    margin-left: 0px;
    display: flex;
    align-items: center;
    gap: 0rem;
    font-family: var(--font-bold);
    text-align: center;
    @media (min-width: 600px) {
      margin-left: 20px;
      text-align: start;
    }
  }

  span hr {
    display: none;
    border: none;
    height: 1px;
    background-color: var(--black);
    width: 70px;
  }
}
.icon-banner-wrapper {
  display: none;
  font-size: 25px;
}
.banner-carousel {
  overflow: hidden;
  width: 100vw;
  height: 350px;
}

.arrow-left,
.arrow-rigth {
  position: absolute;
  top: 50%;
  cursor: pointer;
  ion-icon {
    font-size: 35px;
  }
}
.arrow-left {
  left: 0%;
}
.arrow-rigth {
  right: 0;
}
.banner-container {
  display: flex;
  transition: transform 0.7s ease-in-out;
  width: 100%;
  height: 350px;
}

.banner-slide {
  width: 100vw;
  height: 300px;
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}
.banner-overlay {
  padding: 3rem;
  width: 100vw;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.banner-overlay-left,
.banner-overlay-rigth {
  display: flex;
}
.banner-overlay-left {
  width: 45vw;
  flex-direction: column;
  gap: 8px;
  background-color: transparent;
  backdrop-filter: blur(6px);
  border-radius: 10px;
  /* box-shadow: 10px 10px 10px black; */
}
.banner-titulo {
  font-size: 28px;
  text-transform: bold;
}
.banner-description {
  font-size: 13px;
}
.banner-overlay-rigth {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 8px;
  margin-top: 10px;
  @media (min-width: 600px) {
    width: 60%;
  }
}
.banner-discountPercentage {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 4px 6px;
  border: solid 1px transparent;
  background-color: var(--green);
  border-radius: 22px;
  color: var(--navbar-bg);
  p {
    font-size: 20px;
    font-weight: 600;
  }
  ion-icon {
    font-size: 20px;
  }
}
.banner-rating {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
  ion-icon {
    font-size: 16px;
    color: var(--text-shadow);
  }
}
.btn-add {
  cursor: pointer;
  background-color: var(--black);
  padding: 6px 10px;
  border-radius: 12px;
  color: var(--body-bg);
  box-shadow: 1px 1px 1px black;
  display: flex;
  align-items: center;
  gap: 4px;
}
.btn-add ion-icon {
  color: var(--body-bg);
}
.banner-price {
  color: var(--text-shadow);
  font-weight: 800;
  text-shadow: 1px 1px 1px var(--text-shadow);
}
.indicators {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}

.indicator {
  width: 10px;
  height: 10px;
  background-color: var(--black);
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  scale: 0.8;
}

.indicator.active {
  background-color: var(--text-shadow);
  scale: 1;
}

@media (min-width: 992px) {
  .banner-wrapper {
    span {
      gap: 1rem;
    }
    span hr {
      display: block;
    }
  }
  .icon-banner-wrapper {
    display: block;
  }
  .banner-slide {
    background-position: center;
  }
  .banner-overlay {
    flex-direction: row;
    justify-content: space-between;
  }
  .banner-overlay-left {
    width: 40vw;
    background-color: transparent;
    backdrop-filter: blur(0px);
    border-radius: 10px;
    box-shadow: 0px 0px 0px transparent;
  }
  .banner-overlay-rigth {
    width: 50%;
    flex-direction: column;
    margin-top: 1rem;
  }
}
