@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.carousel-logos-title {
  padding: 1rem;
  width: 100vw;
  font-family: var(--font-bold);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.carousel-logos {
  position: relative;
  background: var(--body-bg);
  padding: 60px 0;
  white-space: nowrap;
  overflow: hidden;
}

.carousel-logos::before,
.carousel-logos::after {
  content: "";
  position: absolute;
  top: 0;
  width: 40px;
  height: 100%;
  z-index: 80;
}

.carousel-logos::before {
  left: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.2), transparent);
}

.carousel-logos::after {
  right: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.2), transparent);
}

.carousel-logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 25s slide infinite linear;
}

.logos-slide img {
  height: 50px;
  margin: 0 40px;
}
