.icon-arrow-back {
  font-size: 30px;
  margin: 4px;
  color: var(--text-shadow);
}
.icon-arrow-back:active {
  scale: 0.9;
}

.cart-product-container {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 8px;
  border-bottom: rgba(74, 92, 106, 0.5) 1px solid;
}
.cart-product-image {
  max-width: 100px;
  img {
    border-radius: 22px;
    object-fit: cover;
    width: 100%;
  }
}
.cart-product-detail {
  padding: 4px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 4px;
}
.cart-product-title {
  font-family: var(--font-bold);
}
.cart-product-quantity {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 4px;
  button {
    display: flex;
    height: 25px;
    width: 30px;
    align-items: center;
    justify-content: center;
    background-color: var(--body-bg);
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
  }
  button:hover {
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);
  }
  button:active {
    scale: 0.9;
  }
}
.cart-product-wrapper-bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cart-product-delete {
  cursor: pointer;
  ion-icon {
    font-size: 18px;
    color: red;
    transition: all 0.3s ease-in-out;
  }
}
.cart-product-delete:hover {
  ion-icon {
    color: var(--text-shadow);
  }
}
.cart-product-delete:active {
  scale: 0.9;
}
.cart-price-container {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.cart-price-subtotal,
.cart-price-cupon,
.cart-price-total {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    font-family: var(--font-bold);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    color: var(--text-shadow);
  }
}
.ticket-cupon {
  width: 100px;
  padding: 4px;
  border: none;
  appearance: none;
  border-radius: 22px;
  text-align: center;
  transition: all 0.4s ease-in-out;
}
.ticket-cupon:focus {
  width: 125px;
}

.btn-cart-buy {
  width: 80%;
  margin: auto;
  max-width: 500px;
}
@media (min-width: 500px) {
  .cart-product-container {
    padding: 1rem;
  }
}
