.form-contact {
  margin: auto;
  padding: 1rem;
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 4px;
}
.form-contact .input-group {
  width: 70%;
  margin: auto;
  input,
  textarea {
    width: 100%;
    resize: vertical;
  }
  textarea {
    min-height: 150px;
  }
}

.form-warranty {
  margin: auto;
  padding: 1rem;
  width: 100%;
  max-width: 900px;
  border-radius: 5%;
  display: grid;
  grid-template-columns: repeat(1, minmax(250px, 1fr));
  justify-items: center;
  gap: 4px;
}
.form-tracking {
  display: flex;
  flex-direction: column;
  place-content: center;
  gap: 8px;
  ion-icon {
    font-size: 35px;
    color: #caa57b;
  }
  img {
    object-fit: cover;
    width: 100%;
  }
}
.form-tracking .input-group {
  width: 100%;
  display: flex;
  place-content: center;
  gap: 4px;
  ion-icon {
    font-size: 35px;
    color: #caa57b;
  }
}
.input-group {
  width: 200px;
  font-size: 14px;
  line-height: 22px;
  transition: all 0.4s ease-in-out;
}

.input-group label {
  margin-bottom: 4px;
  font-size: 14px;
  display: block;
  color: var(--text-shadow);
  font-weight: 800;
}

.input-group input,
textarea {
  font-size: 14px;
  border-radius: 0.375rem;
  border: 1px solid var(--text-shadow);
  outline: 0;
  background-color: var(--body-bg);
  padding: 8px 12px;
  color: var(--text-shadow);
  caret-color: var(--text-shadow);
}

.input-group input:focus,
textarea:focus {
  border: 1px solid var(--black);
}
.input-group input:invalid,
textarea:invalid {
  border-color: var(--error);
}
.input-group input:invalid ~ .error-message,
.input-group textarea:invalid ~ .error-message {
  display: block;
  color: var(--error);
  font-size: 0.9em;
  font-weight: 800;
}

/* .input-group:has(input:focus) label {
  border-color: var(--black);
} */
.error-message {
  display: none;
}

.file-upload-container {
  grid-column: 1 / -1;
  margin: 1rem auto;
  height: 300px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  gap: 5px;
  background-color: var(--text-shadow);
}

.file-upload-top {
  flex: 1;
  width: 100%;
  border: 2px dashed var(--black);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.file-upload-top p {
  text-align: center;
  color: black;
}

.file-upload-bottom {
  background-color: var(--body-bg);
  width: 60%;
  height: 40px;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: black;
  border: none;
}

.file-upload-bottom svg {
  height: 130%;
  fill: royalblue;
  background-color: rgba(70, 66, 66, 0.103);
  border-radius: 50%;
  padding: 2px;
  cursor: pointer;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.205);
}

.file-upload-bottom p {
  flex: 1;
  text-align: center;
}

#file {
  display: none;
}
.text-info-warranty {
  grid-column: 1 / -1;
  margin: auto;
}
.warranty-submit {
  grid-column: 1 / -1;
  margin: auto;
  width: 60%;
  max-width: 200px;
}
@media (min-width: 650px) {
  .form-warranty {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    padding: 2rem;
    width: 70%;
    box-shadow: 4px 4px 4px black;
    background-color: var(--card-bg);
  }
}
