.details-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-bottom: 1px solid var(--text-shadow);
}
.details-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.details-icon-cross {
  position: relative;
  width: 25px;
  height: 25px;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  span {
    display: block;
    position: absolute;
    height: 2px;
    width: 90%;
    top: 50%;
    left: 0%;
    background: var(--black);

    border-radius: 16px;
    opacity: 1;
    transition: 0.25s ease-in-out;
    overflow: hidden;
  }
}
.icon-cross-vertical::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0;
  background: var(--text-shadow);
  left: 0;
  top: 0;
  transition: width 0.4s ease-in-out;
}
.icon-cross-horizontal::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0;
  background: var(--text-shadow);
  right: 0; /* Empieza desde la derecha */
  top: 0;
  transition: width 0.4s ease-in-out;
}
.details-icon-cross:hover span::before {
  width: 100%; /* Expande el color */
}

.icon-cross-vertical {
  transform: rotate(90deg);
}

.details-container:has(#toggle-cross:checked) .details-icon-cross .icon-cross-vertical {
  transform: rotate(180deg);
  scale: 0.8;
}

.details-container:has(#toggle-cross:checked) .details-icon-cross .icon-cross-horizontal {
  transform: rotate(90deg);
  scale: 0.8;
  opacity: 0;
}
.details-menu {
  height: 0;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  ul {
    padding: 8px;
  }
}
.details-container:has(#toggle-cross:checked) .details-menu {
  height: 100%;
  transition: all 0.5s ease-in-out;
}

.info-gift-card {
  padding: 2rem;
}

.gift-card-select-container {
  padding: 1rem;
  width: 100vw;
  display: flex;
  justify-self: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.gift-card-select-amounts {
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid #555;
  font-size: 20px;
  color: #333;
  cursor: pointer;
  overflow: hidden;
  transition: background-color 0.3s ease-in-out;
}
.gift-card-select-amounts:hover {
  border: 1px solid #111;
}
/* Ocultar el radio real */
.gift-card-select-amounts input[type="radio"] {
  display: none;
}

/* Estilo normal de los cuadrados */
/* .gift-card-select-amounts p {
  pointer-events: none;
} */

/* Cambiar color al estar seleccionado */
.gift-card-select-amounts input[type="radio"]:checked + p {
  background-color: var(--black);
  color: var(--card-bg);
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
