:root {
  --body-bg: #e6e4e2;
  --card-bg: #e2dfdd;
  --navbar-bg: #fff;
  --text-shadow: #4a5c6a;
  --green: rgb(84, 190, 132);
  --grey: #292524;
  --black: #040404;
  --font-bold: "Walsheim-bold";
  --font-light: "Walsheim";
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), inset 0 4px 6px rgb(255, 255, 255);
}

@font-face {
  font-family: "Walsheim-bold";
  src: url("/style/fonts/GT-Walsheim-Pro-Bold.ttf") format("truetype"); /* Ruta hacia tu archivo .ttf */
  font-weight: normal; /* Puedes ajustar esto si es necesario */
  font-style: normal; /* Cambia a 'italic' si es una fuente en cursiva */
}
@font-face {
  font-family: "Walsheim";
  src: url("/style/fonts/GT-Walsheim-Pro-Ultra-Light.ttf") format("truetype"); /* Ruta hacia tu archivo .ttf */
  font-weight: normal; /* Puedes ajustar esto si es necesario */
  font-style: normal; /* Cambia a 'italic' si es una fuente en cursiva */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
html,
body {
  font-family: var(--font-light);
  margin: 0px;
  min-height: 100dvh;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--body-bg);
}
html {
  scroll-behavior: smooth;
  ::-webkit-scrollbar {
    width: 0;
    display: none;
  }
}
hr {
  width: 95%;
  height: 1px;
  color: var(--text-shadow);
  border-radius: 50%;
}
header,
footer,
main,
section,
article {
  container-type: inline-size;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
p,
li,
figcaption {
  text-wrap: pretty;
  /* max-width: 65ch; */
}
h1 {
  font-size: 32px;
  font-weight: 800;
  line-height: 46px;
  letter-spacing: normal;
  font-family: var(--font-bold);
  color: var(--text-shadow);
  @media (min-width: 600px) {
    font-size: 42px;
  }
}
h2 {
  font-size: 28px;
  font-weight: 600;
  line-height: 46px;
  letter-spacing: normal;
  font-family: var(--font-bold);
}
p,
ul,
ol,
li {
  font-size: 14px;
  letter-spacing: normal;
  font-weight: 800;
  font-family: var(--font-light);
}
a {
  text-decoration: none;
}

p {
  margin-block-start: 0;
}

.page {
  padding: 8px;
  max-width: 992px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  margin: auto;
  gap: 8px;
}
.page-terms {
  padding: 1rem;
  max-width: 700px;
  margin: auto;
  a {
    text-decoration: underline;
    color: var(--text-shadow);
    .btn-descarga {
      text-decoration: none;
    }
  }
  h1 {
    font-size: 28px;
    color: var(--black);
  }
  p {
    margin: 4px 0;
  }
}
.page-terms .page-terms-title {
  font-size: 21px;
  font-weight: 600;
  line-height: 46px;
  letter-spacing: normal;
  font-family: var(--font-bold);
}
.page-terms .page-terms-underline {
  text-decoration: underline;
}
.btn-descarga {
  appearance: none;
  text-decoration: none;
}
.btn-division {
  position: relative;
  width: 6.5em;
  height: 2.3em;
  margin: 0.5rem;
  background-color: black;
  color: white;
  border: none;
  border-radius: 0.625em;
  font-size: 16px;
  font-family: var(--font-bold);
  cursor: pointer;
  z-index: 100;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-division:hover {
  color: black;
}
.btn-division:after {
  content: "";
  background: white;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}
.btn-division:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.btn-division:active {
  box-shadow: 5px 5px 5px black;
  scale: 0.9;
}

.btn-circular {
  width: 10em;
  display: flex;
  background: transparent;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
}

.btn-circular div {
  color: #ccc;
  cursor: pointer;
  transition: all 0.6s ease;
  transform-style: preserve-3d;
  transform-origin: 100% 50%;
  width: 10em;
  height: 4em;
}

.btn-circular div:hover {
  transform: rotateX(-90deg);
}
.btn-circular div:active {
  scale: 0.9;
}

.side {
  border-radius: 22px;
  position: absolute;
  box-shadow: 4px 4px 4px var(--black);
  top: 0;
  left: 0;
  display: inline-block;
  height: 4em;
  width: 10em;
  text-align: center;
  text-transform: uppercase;
  text-align: center;
  padding-top: 1.2em;
  font-weight: bold;
}
.top {
  background: var(--text-shadow);
  color: var(--navbar-bg);
  transform: rotateX(90deg) translate3d(0, 0, 2em);
}

.front {
  background: var(--black);
  color: var(--navbar-bg);
  transform: translate3d(0, 0, 2em);
}
