:root {
  --body-bg: #e6e4e2;
  --card-bg: #e2dfdd;
  --navbar-bg: #fff;
  --text-shadow: #4a5c6a;
  --green: #54be84;
  --grey: #292524;
  --black: #040404;
  --font-bold: "Walsheim-bold";
  --font-light: "Walsheim";
  --success: #3ab65c;
  --error: #bf333b;
  --warning: #bc8c12;
  --info: #1898c0;
}
@font-face {
  font-family: "Walsheim-bold";
  src: url("./fonts/GT-Walsheim-Pro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Walsheim";
  src: url("./fonts/GT-Walsheim-Pro-Ultra-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
html,
body {
  font-family: var(--font-light);
  margin: 0px;
  min-height: 100dvh;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--body-bg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
html {
  scroll-behavior: smooth;
  ::-webkit-scrollbar {
    width: 0;
    display: none;
  }
}
hr {
  width: 95%;
  height: 1px;
  color: var(--text-shadow);
  border-radius: 50%;
}
header,
footer,
main,
section,
article {
  container-type: inline-size;
}
main {
  opacity: 1;
  transform: translateX(0px);
  transition: all 0.4s ease-in-out;
}

main.hidden {
  opacity: 0;
  transform: translateX(-1000px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
p,
li,
figcaption {
  text-wrap: pretty;
}
h1 {
  font-size: 32px;
  font-weight: 800;
  line-height: 46px;
  letter-spacing: normal;
  font-family: var(--font-bold);
  color: var(--text-shadow);
  @media (min-width: 600px) {
    font-size: 42px;
  }
}
h2 {
  font-size: 28px;
  font-weight: 600;
  line-height: 46px;
  letter-spacing: normal;
  font-family: var(--font-bold);
}
p,
ul,
ol,
li {
  font-size: 14px;
  letter-spacing: normal;
  font-weight: 800;
  font-family: var(--font-light);
}
a {
  text-decoration: none;
}

p {
  margin-block-start: 0;
}

.page {
  padding: 8px;
  max-width: 992px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  margin: auto;
  gap: 8px;
  overflow: hidden;

  li {
    padding: 1rem;
    /* list-style: circle; */
    list-style: inside;
    list-style-type: disc;
  }
}
.page-tracking {
  display: flex;
  flex-direction: column;
  h1,
  p {
    padding: 1rem;
    margin: 16px auto;
    max-width: 900px;
  }
}
.page-terms {
  padding: 1rem;
  max-width: 700px;
  margin: auto;
  a {
    text-decoration: underline;
    color: var(--text-shadow);
    .btn-descarga {
      text-decoration: none;
    }
  }
  h1 {
    font-size: 28px;
    color: var(--black);
  }
  p {
    margin: 4px 0;
  }
  ul {
    padding: 1rem;
  }
}
.page-terms .page-terms-title {
  font-size: 21px;
  font-weight: 600;
  line-height: 46px;
  letter-spacing: normal;
  font-family: var(--font-bold);
}
.page-terms .page-terms-underline {
  text-decoration: underline;
}
.btn-descarga {
  appearance: none;
  text-decoration: none;
}
.btn-division {
  position: relative;
  width: 6.5em;
  height: 2.3em;
  margin: 0.5rem;
  background-color: var(--black);
  color: white;
  border: none;
  border-radius: 0.625em;
  font-size: 16px;
  font-family: var(--font-bold);
  cursor: none;
  z-index: 100;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-division:hover {
  color: var(--black);
}
.btn-division:after {
  content: "";
  background: var(--navbar-bg);
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}
.btn-division:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.btn-division:active {
  box-shadow: 5px 5px 5px var(--black);
  scale: 0.9;
}

#btn-scrollTop {
  appearance: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: var(--body-bg);
  border: none;
  padding: 10px;
  z-index: 699;
  cursor: pointer;
  border-radius: 50%;
  aspect-ratio: 1;
  opacity: 0;
  scale: 0;

  background: linear-gradient(315deg, var(--black), var(--text-shadow));
  /* box-shadow: -5px -5px 10px var(--black), 5px 5px 10px var(--text-shadow); */
  box-shadow: 2px 4px 6px black;
  transition: all 0.4s ease-in-out;
}

#btn-scrollTop.active {
  opacity: 1;
  scale: 1;
}
#btn-scrollTop .icon-arrow-up {
  font-size: 25px;
}
#btn-scrollTop:active {
  scale: 0.8;
}
#aside-info {
  background-color: var(--navbar-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 4px; */
  font-size: 14px;
  letter-spacing: normal;
  font-weight: 800;
  font-family: var(--font-light);
}
#my-clock {
  padding: 4px;
  font-size: 14px;
  letter-spacing: normal;
  font-weight: 800;
  font-family: var(--font-light);
  color: var(--text-shadow);
}
#clicks-counter {
  padding: 4px;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  letter-spacing: normal;
  font-weight: 800;
  color: var(--text-shadow);
  font-family: var(--font-light);
  @media (min-width: 500px) {
    display: flex;
  }
}
#clicks-counter button {
  font-size: 14px;
  letter-spacing: normal;
  font-weight: 800;
  font-family: var(--font-light);
  border: none;
  padding: 0px 4px;
  border-radius: 4px 8px;
  cursor: pointer;
  scale: 0.8;
  background-color: var(--text-shadow);
  color: var(--navbar-bg);
}
#clicks-counter button:active {
  scale: 0.9;
  background-color: #6a4a4a;
}
