#main-nav {
  font-family: var(--font-bold);
  background-color: var(--navbar-bg);
  z-index: 900;
  position: relative;
  display: grid;
  grid-template-areas:
    "menu  icons"
    "links  links ";
  grid-template-columns: 50px 1fr; /* El menú ocupa 50px, y los íconos el resto del ancho disponible */
  padding: 12px;
  width: 100vw;
  align-items: center;
  border-bottom: solid black 1px;
  margin-bottom: 1rem;
  ion-icon {
    font-size: 22px;
    cursor: pointer;
  }
  h1 {
    display: none;
    font-size: 32px;
    font-weight: normal;
    line-height: 46px;
    letter-spacing: normal;
    @media (min-width: 400px) {
      display: flex;
    }
  }
}

.nav-logo-container {
  grid-area: logo;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
}

#nav-links-container {
  grid-area: links;
  position: absolute;
  top: 50%;
  opacity: 0;
  left: -100%;
  border-radius: 12px;
  transform: translate(-3%, 3%);
  background-color: var(--navbar-bg);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 80vw;
  height: auto;
  min-height: 120px;
  z-index: 900;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
}
#nav-links-container.open {
  opacity: 1;
  left: 0%;
  height: auto;
  background-color: var(--navbar-bg);

  .nav-link {
    width: 100%;
    padding: 4px;
    margin: 4px;
    background-color: var(--navbar-bg);
  }
  .nav-link:hover {
    background-color: var(--text-shadow);
  }
}

.nav-language,
.nav-login {
  display: none;
}
.nav-login {
  align-items: center;
  color: var(--text-shadow);
  p {
    height: 100%;
    margin-bottom: 6px;
  }
}
.nav-language div,
.nav-language-menu div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-language img,
.nav-language-menu img {
  cursor: pointer;
  margin-top: 6px;
  height: 24px;
}
.nav-links-language-login-container {
  font-size: 16px;
  color: var(--text-shadow);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 8px;
  div,
  a {
    color: var(--text-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  p {
    font-family: inherit;
    font-weight: 600;
    margin-bottom: 2px;
  }
}

.search-container {
  position: relative;
  width: fit-content;
  background-color: transparent;
}

.mainbox {
  background-color: var(--navbar-bg);
  border: 1px solid var(--text-shadow);
  position: relative;
  width: 230px;
  height: 50px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  border-radius: 160px;
  transition: all 0.3s ease;
}

.search-checkbox:focus {
  border: none;
  outline: none;
}

.search-checkbox:checked {
  right: 10px;
}

.search-checkbox:checked ~ .mainbox {
  border: 0px solid var(--text-shadow);
  background-color: transparent;
  width: 50px;
}

.search-checkbox:checked ~ .mainbox .search-input {
  width: 0;
  height: 0px;
}

.search-checkbox:checked ~ .mainbox .search-icon-container {
  padding-right: 8px;
}
.search-checkbox {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 17px;
  top: 10px;
  z-index: 9;
  cursor: pointer;
  appearance: none;
}

.search-input {
  height: 100%;
  width: 170px;
  background-color: transparent;
  border: none;
  outline: none;
  padding-bottom: 4px;
  padding-left: 10px;
  font-size: 1em;
  color: var(--text-shadow);
  transition: all 0.3s ease;
}

.search-input::placeholder {
  color: var(--text-shadow);
}

.search-icon-container {
  padding-top: 5px;
  width: fit-content;
  transition: all 0.3s ease;
}

.icon-search {
  fill: white;
  font-size: 1.3em;
}

.nav-icons-container {
  grid-area: icons;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-icon-container {
  position: relative;
}
.cart-icon-container:hover ion-icon {
  color: var(--text-shadow);
}
.cart-icon-container:hover .cart-number {
  color: var(--text-shadow);
}
.cart-icon-container a {
  color: var(--black);
}
.cart-icon-container:active {
  scale: 0.9;
}
.cart-number {
  color: var(--black);
  position: absolute;
  top: -20px;
  left: -14px;
  font-weight: 900;
  font-family: var(--font-bold);
}
.nav-link {
  position: relative;
  font-size: 18px;
  color: var(--text-shadow);
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}
.nav-link:focus,
.nav-link:hover {
  color: var(--black);
}

.nav-link:focus:after,
.nav-link:hover:after {
  width: 100%;
  left: 0%;
}

.nav-link:after {
  content: "";
  pointer-events: none;
  bottom: -1px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 1px;
  z-index: 200;
  background-color: var(--black);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

/* Only mobile */
#nav-icon-hamburguer {
  position: relative;
  width: 30px;
  height: 20px;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: none;
  display: flex;
}
#nav-icon-hamburguer span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: var(--black);
  border-radius: 16px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
  overflow: hidden;
}
.icon-hamburguer-top::before,
.icon-hamburguer-bottom::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0;
  background: var(--text-shadow);
  left: 0;
  top: 0;
  transition: width 0.4s ease-in-out;
}
.icon-hamburguer-middle::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0;
  background: var(--text-shadow);
  right: 0; /* Empieza desde la derecha */
  top: 0;
  transition: width 0.4s ease-in-out;
}
#nav-icon-hamburguer:hover span::before {
  width: 100%; /* Expande el color */
}
.icon-hamburguer-top {
  top: 0px;
  transform-origin: left center;
}
.icon-hamburguer-middle {
  top: 10px;
  transform-origin: left center;
}
.icon-hamburguer-bottom {
  top: 20px;
  transform-origin: left center;
}
#nav-icon-hamburguer.open .icon-hamburguer-top {
  transform: rotate(45deg);
  left: 1px;
}
#nav-icon-hamburguer.open .icon-hamburguer-middle {
  width: 0%;
  opacity: 0;
}
#nav-icon-hamburguer.open .icon-hamburguer-bottom {
  transform: rotate(-45deg);
  left: 1px;
}
/* Pantallas grandes */
@media (min-width: 792px) {
  #nav-icon-hamburguer {
    display: none;
  }
  #main-nav {
    grid-template-areas: "logo links icons";
    grid-template-columns: auto 1fr auto;
    align-items: center;

    .nav-logo-container {
      position: relative;
      top: 0%;
      left: 0%;
      transform: translate(-0%, -0%);
    }
    #nav-links-container {
      position: relative;
      top: 0%;
      left: 0%;
      transform: translate(-0%, 0%);
      opacity: 1;
      width: 100%;
      min-height: 20px;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 8px;
    }
    .nav-language,
    .nav-login {
      display: flex;
      align-items: center;
      cursor: pointer;
    }
    .nav-links-language-login-container {
      display: none;
    }
    .nav-icons-container {
      width: auto;
      justify-content: center;
      gap: 4px;
    }
  }
}
