.shipping-page-title {
  font-size: 22px;
}
.shipping-page-info-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 4px;
}
.shipping-page-info-container span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.shipping-page-info-container span p:first-of-type {
  text-decoration: underline;
}
.shipping-info {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 12px;
}

.shipping-page-info-container a {
  width: 50%;
  margin: 1rem auto;
}
