#toast-container {
  position: fixed;
  left: 0px;
  bottom: 20px;
  width: 80vw;
  max-width: 410px;
  /* max-width: 400px; */
  /* right: 40px;
  bottom: 40px;
  width: 100%;
  max-width: 400px; */
  display: flex;
  flex-direction: column-reverse;
  gap: 8px;
  z-index: 999;
  transition: all 0.4s ease-in-out;
}

.toast {
  margin-left: 10px;
  width: 80vw;
  max-width: 410px;
  height: 100%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  border-radius: 16px;
  overflow: hidden;
  animation-name: apertura;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
  position: relative;
  z-index: 999;
}

.toast.success {
  background: var(--success);
  box-shadow: 3px 4px 5px black;
}
.toast.error {
  background: var(--error);
  box-shadow: 3px 4px 5px black;
}
.toast.info {
  background: var(--info);
  box-shadow: 3px 4px 5px black;
}
.toast.warning {
  background: var(--warning);
  box-shadow: 3px 4px 5px black;
}

.toast .wrapper {
  transition: all 0.4s ease-in-out;
  display: grid;
  grid-template-columns: 30px auto;
  justify-content: start;
  align-items: center;
  gap: 15px;
  padding: 15px;
  z-index: 999;
}

.toast .icono {
  color: var(--black);
  opacity: 0.4;
}

.toast .titulo {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

@keyframes apertura {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.toast.cerrando {
  animation-name: cierre;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes cierre {
  from {
    transform: translateX(0) scale(1);
  }
  to {
    transform: translateX(calc(100% + 40px)) scale(0.3);
  }
}
.toast .barrita {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  background-color: var(--black);
  opacity: 0.5;
  animation: consumir 5s linear forwards;
}

@keyframes consumir {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
