#toast-container {
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column-reverse;
  gap: 8px;
  z-index: 700;
}

.toast {
  background: transparent;
  display: flex;
  justify-content: space-between;
  border-radius: 16px;
  overflow: hidden;
  animation-name: apertura;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
  position: relative;
}

.toast.sucess {
  background: #3ab65c;
}
.toast.error {
  background: #bf333b;
}
.toast.info {
  background: #1898c0;
}
.toast.warning {
  background: #bc8c12;
}

.toast .wrapper {
  display: grid;
  grid-template-columns: 30px auto;
  align-items: center;
  gap: 15px;
  padding: 15px;
  z-index: 800;
}

.toast .icono {
  color: var(--black);
  opacity: 0.4;
}

.toast .titulo {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

@keyframes apertura {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.toast.cerrando {
  animation-name: cierre;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes cierre {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(100% + 40px));
  }
}
.toast .barrita {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  background-color: var(--black);
  opacity: 0.5;
  animation: consumir 5s linear forwards;
}

@keyframes consumir {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
