<div class="page-error">
    <div class="error-title">
        <span>
            <h1>4</h1>
            <img src="/assets/box.webp" alt="box image">
            <h1>4</h1>
        </span>
        <span>
            <h1>N</h1>
            <img src="/assets/box.webp" alt="box image">
            <h1>t</h1>
        </span>
        <span>
            <h1>F</h1>
            <img src="/assets/box.webp" alt="box image">
            <h1>und</h1>
        </span>
    </div>
    <p class="language english">Oh no! It looks like the page you're trying to get to is missing!</p>
    <p class="language spanish">¡Oh, no! ¡Parece que falta la página a la que intentas acceder!</p>
    <div>
        <a onclick="onCloseMenu()" href="#/" class="nav-link language english">Back to home</a>
        <a onclick="onCloseMenu()" href="#/" class="nav-link language spanish">Volver al inicio</a>
    </div>
</div>