<h2>Registered Warranty</h2>
<p>

 To register your product and benefit from the Aarke Warranty, please fill in the registration form below.
</p>
<p>

 The period of Aarke Warranty you get by registering the product differs, depending on the type of product.
</p>

<ul>
 Please note, that the following conditions must be met:

 <li>

  • You made your purchase within the European Union or the United Kingdom (at the moment we are unable to offer this
  service in other regions);
 </li>
 <li>

  • You can only register your product within two years from the date of original purchase;
 </li>
 <li>

  • By registering the product you accept the E-Smarthy Registered Warranty Terms & Conditions .
 </li>
</ul>