<section class="page-terms">
  <h1>Terms & Conditions
  </h1>
  <p class="page-terms-title">Condiciones de compra</p>
  <p class="page-terms-title">General</p>

  <p>Los siguientes términos y condiciones y la
    <a href="privacy-and-cookie-policy.html">
      Política de privacidad
    </a>

    se aplican a todos los pedidos realizados por
    cualquier cliente (en adelante denominado "usted") a E-Smarthy, (en adelante denominada "E-Smarthy"), a través del
    sitio
    web o el sitio web móvil de E-Smarthy (en conjunto denominados el "Sitio web"). Al realizar un pedido, usted
    acepta
    estar
    sujeto a estos Términos de compra y la Política de privacidad.
  </p>
  <p>

    Solo podrá realizar pedidos si es capaz de celebrar contratos legalmente vinculantes, es decir, si tiene 18 años
    de
    edad o más y no está bajo tutela.
  </p>
  <p>

    Tenga en cuenta que el sitio web está destinado únicamente a la venta a consumidores. Cuando solicita un producto
    en
    el sitio web, declara y garantiza que solicita el producto con fines personales y no comerciales y que no tiene
    intención de revenderlo con fines comerciales.
  </p>
  <p>

    E-Smarthy se reserva el derecho de revisar o modificar estos Términos de compra en cualquier momento sin previo
    aviso.
    Los Términos de compra que se aplicarán a su pedido serán los que se encuentren en el Sitio web en el momento en
    que
    realice su pedido.
  </p>
  <p>

    Si alguna parte de estos Términos de Compra es inválida o es considerada ineficaz por un tribunal o autoridad
    supervisora, los términos y condiciones restantes seguirán aplicándose.
  </p>
  <p class="page-terms-title">Información en el sitio web</p>
  <p>
    E-Smarthy no puede garantizar que el contenido del Sitio Web esté libre de errores o que la información esté
    actualizada.
    E-Smarthy puede modificar en cualquier momento el contenido del Sitio Web y se reserva el derecho de cancelar un
    pedido
    antes del envío si la información proporcionada, incluido el precio de un producto, es incorrecta. En caso de
    cancelación de un pedido, E-Smarthy se lo notificará por correo electrónico.
  </p>
  <p>

    La presentación de un producto en el Sitio Web no implica ni garantiza que dicho producto esté disponible en todo
    momento. E-Smarthy se reserva el derecho de discontinuar cualquier producto en cualquier momento.
  </p>
  <p>

    E-Smarthy hace todos los esfuerzos razonables para mostrar con precisión los productos, incluidos sus colores. Sin
    embargo, el color real que usted ve dependerá de la configuración de su sistema y E-Smarthy no puede garantizar
    que su
    computadora muestre con precisión dichos colores.
  </p>
  <p>

    Tenga en cuenta que los productos disponibles para su compra en el sitio web están destinados únicamente para uso
    no
    comercial.
  </p>
  <p class="page-terms-title">Pedidos, entregas, precios y gastos de envío
  </p>
  <p>

    Cuando realice un pedido a través del Sitio Web, recibirá una confirmación del pedido por correo electrónico.
  </p>
  <p>

    Para que E-Smarthy pueda entregar un pedido, debe introducir sus datos de contacto y la dirección de entrega
    correcta, es
    decir, una dirección en la que se pueda realizar la entrega durante el horario laboral normal de lunes a viernes.
    Tenga en cuenta que no se pueden realizar entregas en apartados de correos, ya que la entrega puede requerir una
    firma
    al recibirla.
  </p>
  <p>

    Una vez realizado un pedido no es posible cambiar la dirección de entrega.
  </p>
  <p>

    E-Smarthy no puede realizar entregas a determinados países o regiones, de lo que se le informará al realizar el
    pedido o
    posteriormente.
  </p>
  <p>

    Cuando su pedido esté listo para ser enviado, recibirá la información de entrega por correo electrónico. Si su
    pedido
    no se entrega de acuerdo con la información de entrega, comuníquese con el servicio de atención al cliente de la
    empresa de mensajería y proporcione el número de seguimiento de su envío. Comuníquese con E-Smarthy por correo
    electrónico: support@esmarthy.com si no ha recibido un número de seguimiento o si el número de seguimiento
    recibido es
    incorrecto.
  </p>
  <p>

    Aunque E-Smarthy tiene como objetivo entregar los productos en un plazo de cinco días hábiles a partir de la
    confirmación
    del pedido, la entrega puede demorar más tiempo. Si el tiempo de entrega supera los 20 días hábiles, tiene derecho
    a
    cancelar su pedido.
  </p>
  <p>

    Si E-Smarthy no puede completar su pedido, se le informará de ello lo antes posible. Si E-Smarthy ya ha recibido
    el pago de
    dicho pedido, E-Smarthy reembolsará el importe utilizando el mismo método utilizado para el pago, si es posible.
    Si por
    cualquier motivo fuera necesario un método alternativo de reembolso, E-Smarthy se pondrá en contacto con usted
    para
    organizar el reembolso.
  </p>
  <p>

    Para los pedidos que se envíen a una dirección de entrega dentro de la UE, E-Smarthy cobrará el IVA, lo que
    significa que
    se deberá pagar el IVA sobre todos los precios de los productos y servicios incluidos en el pedido. Para dichos
    pedidos, los precios de este sitio web también incluyen el IVA.
  </p>
  <p>

    Tenga en cuenta que si un pedido se va a enviar a una dirección de entrega fuera de la UE, dicho pedido puede
    estar
    sujeto a cargos de importación, derechos de aduana e impuestos, como el IVA, que usted es responsable de pagar.
    Dichos
    cargos, derechos e impuestos no están incluidos en los precios de este sitio web y E-Smarthy no es responsable de
    recaudar
    o administrar dichos cargos, derechos o impuestos. Además, E-Smarthy no tiene información sobre el alcance de los
    mismos,
    ya que difieren de un país a otro. E-Smarthy le recomienda que se comunique con su autoridad aduanera local para
    obtener
    más información antes de realizar un pedido. Tenga en cuenta también que si no paga dichos cargos, derechos e
    impuestos, lo más probable es que no reciba los productos pedidos y E-Smarthy no tendrá la obligación de
    compensarlo por
    dicho pedido o falta de entrega.
  </p>
  <p>

    Si el pedido no se puede completar por cualquier motivo del que E-Smarthy no sea responsable, como una dirección
    de
    entrega incorrecta, que el mensajero no pueda comunicarse con usted o que no se paguen los cargos, aranceles o
    impuestos (si corresponde), E-Smarthy se reserva el derecho de retener el monto total pagado por el pedido si los
    productos no se devuelven a E-Smarthy y, en caso de devolución, una tarifa administrativa de la siguiente manera:
    para
    pedidos dentro de la UE: cincuenta EUR (50 €) y fuera de la UE: ochenta USD (80 $). Sin embargo, la tarifa
    administrativa no excederá el monto total que haya pagado por su pedido y se le reembolsará cualquier monto
    excedente.
  </p>
  <p>

    El costo de cada método de envío se indica claramente al finalizar la compra. Si E-Smarthy no puede entregar su
    pedido en
    su totalidad y tiene que enviar más de un envío, no hay ningún costo adicional para las entregas posteriores.
  </p>
  <p class="page-terms-title">Métodos de pago</p>
  <p>Puede pagar sus productos de las formas establecidas en el sitio web en el momento de la compra. Tenga en cuenta
    que las condiciones de cada método de pago y también la política de privacidad de dicho proveedor de método de
    pago
    pueden diferir de un proveedor a otro.</p>
  <p class="page-terms-title">Retirada de una compra</p>
  <p class="page-terms-underline">Derecho de desistimiento</p>
  <p>Tiene derecho a desistir de una compra, de conformidad con lo establecido a continuación, en un plazo de 30 días
    sin necesidad de justificación.</p>
  <p>
    El plazo de desistimiento expirará a los 30 días del día en que reciba el producto solicitado. En caso de que un
    pedido de varios productos se entregue en diferentes momentos, el plazo de desistimiento expirará a los 30 días
    del
    día en que reciba el último producto.
  </p>
  <p>
    Para ejercer el derecho de desistimiento, deberá informar a E-Smarthy por correo electrónico o correo postal de su
    decisión de desistir de una compra mediante una declaración inequívoca. Puede utilizar el modelo de formulario de
    desistimiento que se establece a continuación. Para obtener la información de contacto de E-Smarthy, consulte a
    continuación.
  </p>
  <p>
    Para cumplir el plazo de desistimiento, es suficiente que envíe su comunicación relativa al ejercicio del derecho
    de
    desistimiento a E-Smarthy antes de que expire el plazo de desistimiento.
  </p>
  <p>
    Para pedidos con un valor total de pedido no inferior a cincuenta EUR (50 €) que se soliciten a una dirección de
    entrega dentro de la UE, E-Smarthy ofrece devoluciones gratuitas en caso de desistimiento. Para desistir de una
    compra
    haciendo uso de su derecho de devolución gratuita, deberá utilizar la etiqueta de devolución preimpresa incluida
    en
    el
    envío original. En caso de que dicha etiqueta de devolución preimpresa no esté incluida en su paquete o si la ha
    perdido por algún motivo, puede ponerse en contacto con E-Smarthy para recibir una nueva. En el caso de dichas
    devoluciones gratuitas, deberá seguir la información proporcionada con dicha etiqueta de devolución.
  </p>
  <p>
    Tenga en cuenta que E-Smarthy no aceptará un desistimiento ni ningún otro tipo de devolución en relación con las
    compras
    de productos sellados, por ejemplo, jarabes y esencias, que, en el momento de la devolución, no tengan el sello o
    lo
    tengan roto o no sean aptos para su devolución por razones de protección de la salud o de higiene.
  </p>

  <pre>

  ……………..

  Modelo de formulario de desistimiento
  (rellene y envíe este formulario únicamente
   si desea desistir de una compra):

  Si por correo postal:

  E-Smarthy
  Brügglifeldweg 7,
  5000 Suhr, Suiza
  Si es por correo electrónico: support@esmarthy.com

  Aviso de desistimiento

  Por la presente, le comunico que desisto de mi contrato
  de venta del siguiente producto(s) [insertar], [incluya
  también el número de pedido para facilitar su tramitación].
  Pedido el [insertar] (*)/recibido el [insertar] (*).

  Nombre: [insertar],
  Dirección: [insertar],
  Firma: [insertar],
  Fecha: [insertar]

  ……………..
</pre>
  <a href="#" download="">Descargar formulario</a>
  <p class="page-terms-underline">Efectos del desistimiento</p>
  <p>

    En caso de desistimiento, deberá devolver los productos a E-Smarthy, junto con su embalaje original, insertos,
    accesorios,
    etc.
  </p>
  <p>

    Si ha ejercido su derecho de desistimiento por correo electrónico o correo postal, deberá enviar la devolución a
    la
    dirección que le haya facilitado el servicio de atención al cliente de E-Smarthy sin demora indebida y, en
    cualquier
    caso,
    a más tardar 14 días a partir del día en que haya comunicado su desistimiento a E-Smarthy. Se considerará cumplido
    el
    plazo si devuelve los productos antes de que expire el plazo establecido anteriormente. Todos los productos que
    envíe
    a E-Smarthy corren por su cuenta y riesgo y usted deberá hacerse cargo del coste de la devolución de los
    productos.
  </p>
  <p>

    Para los retiros en los que E-Smarthy ofrece devoluciones gratuitas mediante una etiqueta de devolución
    preimpresa,
    consulte los requisitos anteriores para dichas devoluciones gratuitas. La devolución debe enviarse dentro de los
    30
    días a partir del día en que reciba el producto solicitado. Todos los productos que envíe a E-Smarthy corren por
    su
    cuenta
    y riesgo.
  </p>
  <p>

    En caso de que un producto sujeto a retiro no sea devuelto a E-Smarthy en el tiempo debido especificado en estos
    Términos
    de Compra, E-Smarthy se reserva el derecho de rechazar el retiro.
  </p>
  <p>

    Con excepción de (i) cualquier coste adicional resultante de su elección de un tipo de entrega diferente a la
    entrega
    estándar ofrecida por E-Smarthy, por ejemplo, los costes de entrega urgente, y (ii) cualquier disminución de valor
    del
    producto o productos objeto de desistimiento resultante de una manipulación del mismo distinta a la necesaria para
    establecer la naturaleza, las características y el funcionamiento del producto o productos, por ejemplo, si un
    producto está dañado o sucio, E-Smarthy le reembolsará el pago recibido de usted por la compra del producto sin
    demora
    indebida y, en cualquier caso, a más tardar 30 días a partir del día en que E-Smarthy haya recibido la devolución.
    E-Smarthy
    reembolsará el importe utilizando el mismo método utilizado para el pago, si es posible. Si por cualquier motivo
    fuera
    necesario un método alternativo de reembolso, E-Smarthy se pondrá en contacto con usted para organizar el
    reembolso.
  </p>
  <p>

    Tenga en cuenta que E-Smarthy no aceptará la devolución de productos sellados, por ejemplo, jarabes y esencias,
    que en el
    momento de la devolución no tengan sello o lo tengan roto o no sean aptos para su devolución por razones de
    protección
    de la salud o de higiene.
  </p>
  <p>

    Si ha recibido un obsequio/paquete gratuito como parte de su compra del producto, también debe, en caso de
    desistimiento de la compra del producto, devolver el obsequio/paquete gratuito a E-Smarthy sin demora indebida y,
    a más
    tardar, 14 días a partir de la fecha en la que nos informó de su deseo de desistir de la compra. El motivo de esto
    es
    que el obsequio/paquete gratuito estaba condicionado a la compra original del producto(s).
  </p>
  <p>

    Usted es responsable de cualquier deterioro del valor del obsequio/paquete gratuito que resulte de la manipulación
    del
    mismo que no sea la necesaria para establecer su naturaleza, características y funcionamiento. Si el valor del
    obsequio/paquete gratuito se deteriora o en caso de que el sello esté roto, etc., o si no devuelve el
    obsequio/paquete
    gratuito dentro del período establecido anteriormente, E-Smarthy deducirá del reembolso el valor del
    obsequio/paquete
    gratuito.
  </p>


  <p class="page-terms-title">Productos dañados o defectuosos
  </p>
  <p>

    Si, al recibir el producto, éste o su embalaje están dañados, o si el producto presenta algún otro defecto, le
    rogamos que se ponga en contacto con E-Smarthy lo antes posible, a través del correo electrónico
    support@esmarthy.com.
    Incluya en dicho aviso información sobre el daño o defecto, incluidas fotografías.
  </p>
  <p>

    Tras recibir dicha notificación, E-Smarthy podrá solicitarle que devuelva el producto dañado o defectuoso, para lo
    cual
    E-Smarthy le ayudará a organizar el envío de devolución. Tras dicha solicitud, deberá devolver a E-Smarthy el
    producto dañado
    o defectuoso junto con el embalaje del mensajero, el embalaje original del producto, los insertos, los accesorios,
    etc. a la dirección que se le haya proporcionado, sin demora indebida. Tenga en cuenta que E-Smarthy no podrá
    reembolsarle ni compensarle por los costes en los que incurra al organizar su propia devolución del producto.
  </p>
  <p>

    En lo que respecta a los productos defectuosos, E-Smarthy cumple con todas las normas de garantía legales.
    E-Smarthy, a su
    exclusivo criterio, ofrecerá un producto de reemplazo, la reparación del producto defectuoso o un reembolso
    completo
    de cualquier producto que se considere defectuoso. Las disposiciones establecidas en el presente documento no
    limitan
    ningún derecho legal aplicable.
  </p>
  <p class="page-terms-title">Responsabilidad</p>
  <p>

    Nada de estos términos y condiciones excluirá o limitará la responsabilidad de E-Smarthy con respecto a cualquier
    asunto
    por el cual sería ilegal que E-Smarthy limite o excluya su responsabilidad.
  </p>
  <p>

    En caso de que E-Smarthy incumpla estos términos y condiciones, la responsabilidad de E-Smarthy se limitará a las
    pérdidas
    que sean una consecuencia razonablemente previsible de dicho incumplimiento. E-Smarthy nunca será responsable de
    pérdidas
    o daños indirectos o consecuentes que sean un efecto secundario de la pérdida o daño principal, por ejemplo,
    pérdida
    de beneficios o pérdida de oportunidades. E-Smarthy tampoco será responsable de ninguna pérdida que se deba a un
    evento
    que esté fuera del control razonable de E-Smarthy, incluidos, entre otros, incendios, inundaciones, tormentas,
    disturbios, disturbios civiles, pandemias, guerras, accidentes nucleares y actividades terroristas.
  </p>
  <p>

    La responsabilidad máxima de E-Smarthy hacia usted por cualquier pérdida o daño que surja en relación con su
    pedido se
    limitará al precio total de su pedido.
  </p>
  <p>

    Tenga en cuenta que la disponibilidad de productos de terceros y la compatibilidad de cualquier producto con los
    mismos, tal como se establece en cada descripción de producto relevante, está sujeta al suministro de dichos
    productos por parte del tercero respectivo, que puede ser cancelado o cuando dicho tercero pueda realizar cambios
    en
    dichos productos de terceros, lo que resultará en que el producto no sea compatible con dicho producto de
    terceros.
    Dichas faltas de disponibilidad o cambios no implican ninguna responsabilidad para E-Smarthy.
  </p>
  <p class="page-terms-title">Asignación</p>
  <p>E-Smarthy se reserva el derecho de ceder o pignorar a terceros cualquier reclamación de pago, incluidas las
    cuotas de
    pago que hayan surgido en relación con la entrega de productos.</p>
  <p class="page-terms-title">Ley aplicable, plataforma ODR
  </p>
  <p>

    Estas Condiciones de compra se rigen por la legislación sueca y cualquier disputa se resolverá en un tribunal
    público
    sueco. Sin embargo, si usted es un consumidor que reside en un país de la UE, también disfrutará de la protección
    que
    le brindan las disposiciones obligatorias de la legislación de su país de residencia.
  </p>
  <p>

    Además, si usted es un consumidor residente en un país de la UE y usted y E-Smarthy no pueden resolver una
    reclamación
    que
    tenga relacionada con un producto que haya adquirido en el sitio web de E-Smarthy, puede presentar su reclamación
    a la
    plataforma de resolución de disputas en línea de la UE (la “plataforma ODR”). Sin embargo, tenga en cuenta que
    E-Smarthy
    no está obligada a participar en el proceso de resolución en línea en el marco de la plataforma ODR.
  </p>
  <p>

    La plataforma ODR ofrece a los consumidores y comerciantes de la UE la posibilidad de intentar llegar a un acuerdo
    extrajudicial para las reclamaciones derivadas de compras en línea. Este punto de acceso único está diseñado para
    ser
    un sitio web interactivo y fácil de usar, disponible en todos los idiomas oficiales de la UE y de forma gratuita.
    Mediante la plataforma ODR, usted y E-Smarthy pueden encontrar un organismo de resolución de disputas y luego
    seguir el
    proceso para encontrar una solución a su reclamación. La plataforma ODR está disponible aquí:
    <a class="btn-descarga" href="https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home.chooseLanguage"
      target="_blank">

      ec.europa.eu/consumers/odr/
    </a>
  </p>
  <p class="page-terms-title"> Información de la empresa/Aviso legal </p>
  <pre>
  <p>
E-Smarthy

Brügglifeldweg 7,
5000 Suhr, Suiza

Representada en el Reino Unido por: Bruce Wayne Ltd
Enterprise House, Fulham Rd., London SW6 1HS

Número de registro de la empresa: 225422-5552
Número de IVA de la empresa: S2254M225552
Junta directiva: Frank Lampard

Atención al cliente de E-Smarthy:
Correo electrónico:  support@esmarthy.com
  </p>
   </pre>
</section>