<section class="page-terms">
  <h1>Condiciones de retiro</h1>
  <p class="page-terms-title">Retirada de una compra
  </p>
  <p class="page-terms-underline">Derecho de desistimiento</p>
  <P>

    Tiene derecho a desistir de una compra, de conformidad con lo establecido a continuación, en un plazo de 30 días
    sin
    necesidad de justificación.
  </P>
  <P>

    El plazo de desistimiento expirará a los 30 días del día en que reciba el producto solicitado. En caso de que un
    pedido de varios productos se entregue en diferentes momentos, el plazo de desistimiento expirará a los 30 días
    del
    día en que reciba el último producto.
  </P>
  <P>

    Para ejercer el derecho de desistimiento, deberá informar a E-Smarthy por correo electrónico o correo postal de su
    decisión de desistir de una compra mediante una declaración inequívoca. Puede utilizar el modelo de formulario de
    desistimiento que se establece a continuación. Para obtener la información de contacto de E-Smarthy, consulte a
    continuación.
  </P>
  <P>

    Para cumplir el plazo de desistimiento, es suficiente que envíe su comunicación relativa al ejercicio del derecho
    de
    desistimiento a E-Smarthy antes de que expire el plazo de desistimiento.
  </P>
  <P>

    Para pedidos con un valor total de pedido no inferior a cincuenta EUR (50 €) que se soliciten a una dirección de
    entrega dentro de la UE, E-Smarthy ofrece devoluciones gratuitas en caso de desistimiento. Para desistir de una
    compra
    haciendo uso de su derecho de devolución gratuita, deberá utilizar la etiqueta de devolución preimpresa incluida
    en
    el
    envío original. En caso de que dicha etiqueta de devolución preimpresa no esté incluida en su paquete o si la ha
    perdido por algún motivo, puede ponerse en contacto con E-Smarthy para recibir una nueva. En el caso de dichas
    devoluciones gratuitas, deberá seguir la información proporcionada con dicha etiqueta de devolución.
  </P>
  <P>

    Tenga en cuenta que E-Smarthy no aceptará un desistimiento ni ningún otro tipo de devolución en relación con las
    compras
    de productos sellados, por ejemplo, jarabes y esencias, que, en el momento de la devolución, no tengan el sello o
    lo
    tengan roto o no sean aptos para su devolución por razones de protección de la salud o de higiene.
  </P>
  <p class="page-terms-underline">Efectos del desistimiento</p>
  <P>

    En caso de desistimiento, deberá devolver los productos a E-Smarthy, junto con su embalaje original, insertos,
    accesorios,
    etc.
  </P>
  <P>

    Si ha ejercido su derecho de desistimiento por correo electrónico o correo postal, deberá enviar la devolución a
    la
    dirección que le haya facilitado el servicio de atención al cliente de E-Smarthy sin demora indebida y, en
    cualquier
    caso,
    a más tardar 14 días a partir del día en que haya comunicado su desistimiento a E-Smarthy. Se considerará cumplido
    el
    plazo si devuelve los productos antes de que expire el plazo establecido anteriormente. Todos los productos que
    envíe
    a E-Smarthy corren por su cuenta y riesgo y usted deberá hacerse cargo del coste de la devolución de los
    productos.
  </P>
  <P>

    Para los retiros en los que E-Smarthy ofrece devoluciones gratuitas mediante una etiqueta de devolución
    preimpresa,
    consulte los requisitos anteriores para dichas devoluciones gratuitas. La devolución debe enviarse dentro de los
    30
    días a partir del día en que reciba el producto solicitado. Todos los productos que envíe a E-Smarthy corren por
    su
    cuenta
    y riesgo.
  </P>
  <P>

    En caso de que un producto sujeto a retiro no sea devuelto a E-Smarthy en el tiempo debido especificado en estos
    Términos
    de Compra, E-Smarthy se reserva el derecho de rechazar el retiro.
  </P>
  <P>

    Con excepción de (i) cualquier coste adicional resultante de su elección de un tipo de entrega diferente a la
    entrega
    estándar ofrecida por E-Smarthy, por ejemplo, los costes de entrega urgente, y (ii) cualquier disminución de valor
    del
    producto o productos objeto de desistimiento resultante de una manipulación del mismo distinta a la necesaria para
    establecer la naturaleza, las características y el funcionamiento del producto o productos, por ejemplo, si un
    producto está dañado o sucio, E-Smarthy le reembolsará el pago recibido de usted por la compra del producto sin
    demora
    indebida y, en cualquier caso, a más tardar 30 días a partir del día en que E-Smarthy haya recibido la devolución.
    E-Smarthy
    reembolsará el importe utilizando el mismo método utilizado para el pago, si es posible. Si por cualquier motivo
    fuera
    necesario un método alternativo de reembolso, E-Smarthy se pondrá en contacto con usted para organizar el
    reembolso.
  </P>
  <P>

    Tenga en cuenta que E-Smarthy no aceptará la devolución de productos sellados, por ejemplo, jarabes y esencias,
    que en el
    momento de la devolución no tengan sello o lo tengan roto o no sean aptos para su devolución por razones de
    protección
    de la salud o de higiene.
  </P>
  <P>

    Si ha recibido un obsequio/paquete gratuito como parte de su compra del producto, también debe, en caso de
    desistimiento de la compra del producto, devolver el obsequio/paquete gratuito a E-Smarthy sin demora indebida y,
    a más
    tardar, 14 días a partir de la fecha en la que nos informó de su deseo de desistir de la compra. El motivo de esto
    es
    que el obsequio/paquete gratuito estaba condicionado a la compra original del producto(s).
  </P>
  <P>

    Usted es responsable de cualquier deterioro del valor del obsequio/paquete gratuito que resulte de la manipulación
    del
    mismo que no sea la necesaria para establecer su naturaleza, características y funcionamiento. Si el valor del
    obsequio/paquete gratuito se deteriora o en caso de que el sello esté roto, etc., o si no devuelve el
    obsequio/paquete
    gratuito dentro del período establecido anteriormente, E-Smarthy deducirá del reembolso el valor del
    obsequio/paquete
    gratuito.
  </P>
  <p>
  <pre>
......
Modelo de formulario de desistimiento
Complete y envíe este formulario solo
si desea rescindir el contrato.
A:
E-Smarthy
Brügglifeldweg 7,
5000 Suhr, Suiza
support@esmarthy.com

Yo/nosotros (*) por la presente notificamos
que yo/nosotros (*) desisto de mi/nuestro (*)
contrato de venta de los siguientes bienes (*)
/para el prestación del siguiente servicio (*).

Pedido el (*) /recibido el (*): ______________
Nombre del consumidor(es): ___________________
Dirección del consumidor(es): ________________
Firma del(los) consumidor(es):
______________________________________________
Fecha:
______________________________________________
(*) Táchese lo que no corresponda.
......
</pre>
  </p>
  <p>

    <a href="#" download="">Descargar formulario</a>
  </p>


</section>