<section class="gift-card-page">

  <h1 class="gift-card-page-title">Tarjeta de regalo E-Smarthy</h1>
  <div class="gift-card-wrapper">

    <div class="gift-card-left-container">
      <span class="gift-card-subtitle">
        <img src="./assets/gift-card/gift-card-logo.jpg" alt="">
        <h2>Obtenga una experiencia premium con nuestra gift card</h2>
      </span>
      <article class="info-gift-card">
        <h3>¿Cómo se utiliza?</h3>
        <ol>
          <li>Seleccione el importe y proceda a realizar el pago.</li>
          <li>El número de la tarjeta de regalo se le enviará en el correo electrónico de confirmación.</li>
          <li> Para utilizar la tarjeta de regalo, agregue los productos deseados a su carrito y vaya a realizar el
            pago.
          </li>
          <li>Ingrese el número de la tarjeta de regalo en el espacio del código de descuento y haga clic en
            "Aplicar".
          </li>
          <li>El monto del pedido se deducirá del monto de la tarjeta de regalo.</li>
          <li>Si queda dinero en la tarjeta de regalo después de la compra, puede volver a usarla.</li>
        </ol>

      </article>
    </div>
    <div class="gift-card-rigth-container">
      <p> Varias cantidades disponibles. Elegí tu regalo
      </p>
      <div class=" gift-card-select-container">
        <label class="gift-card-select-amounts">
          <input type="radio" name="square" />
          <p>&#8364;50</p>
        </label>
        <label class="gift-card-select-amounts">
          <input type="radio" name="square" />
          <p>&#8364;100</p>
        </label>
        <label class="gift-card-select-amounts">
          <input type="radio" name="square" />
          <p>&#8364;150</p>
        </label>
        <label class="gift-card-select-amounts">
          <input type="radio" name="square" />
          <p>&#8364;200</p>
        </label>
        <label class="gift-card-select-amounts">
          <input type="radio" name="square" />
          <p>&#8364;250</p>
        </label>
        <label class="gift-card-select-amounts">
          <input type="radio" name="square" />
          <p>&#8364;300</p>
        </label>
      </div>
      <div class="btn-gift-card">

        <a href="cart.html" class="btn-division">Agregar al carrito <ion-icon name="cart-outline"></ion-icon></a>

      </div>


      <article class="details-container">
        <label for="toggle-cross-1">
          <p>Terminos y condiciones</p>
          <input type="checkbox" id="toggle-cross-1" class="toggle-cross" style="display: none;">
          <div class="details-icon-cross">
            <span class="icon-cross-vertical"></span>
            <span class="icon-cross-horizontal"></span>
          </div>
        </label>
        <div class="details-menu">
          <ul>
            <li>- La tarjeta de regalo digital de E-Smarthy es válida durante 5 años a partir de la fecha de compra.
              Una
              vez
              vencida, no
              se podrá reembolsar el importe no utilizado.</li>
            <li>- La tarjeta de regalo se puede utilizar varias veces, si no se utiliza el importe total en la
              primera
              compra.
            </li>
            <li>- Si el monto de la tarjeta de regalo no cubre el valor total del pedido, se puede combinar con
              otros
              métodos
              de
              pago
              disponibles.</li>
            <li>- Si el valor del pedido está por debajo del umbral de envío gratuito, la tarjeta de regalo se puede
              utilizar
              para
              pagar el envío.</li>
          </ul>
        </div>
      </article>
    </div>
  </div>
</section>