<section class="page">
  <a href="#/products" class="icon-arrow-back"><ion-icon name="arrow-back-circle-outline"></ion-icon></a>
  <h2 class="language spanish">Carrito de compras</h2>
  <h2 class="language english">Cart shop</h2>
  <p id="shipping-cart-title"></p>
  <hr>
  <div id="cart-container"></div>
  <div class="cart-price-container" id="total-container"></div>
  <div class="footer-pay" style="margin: auto;">
    <img loading="lazy" src="assets/cards/amex.png" alt="card amex image">
    <img loading="lazy" src="assets/cards/apple-pay.png" alt="card apple pay image">
    <img loading="lazy" src="assets/cards/google-pay.jpg" alt="card google pay image">
    <img loading="lazy" src="assets/cards/mastercard.png" alt="card mastercard image">
    <img loading="lazy" src="assets/cards/paypal.jpg" alt="paypal image">
    <img loading="lazy" src="assets/cards/shop-pay.webp" alt="card shop pay image">
    <img loading="lazy" src="assets/cards/visa.png" alt="card visa image">
  </div>
</section>