<section>

 <div class="banner-wrapper">
  <span>
   <h2>Productos con descuento del mes</h2>
   <hr>
   <ion-icon name="pricetag-outline"></ion-icon>
  </span>

  <div class="banner-carousel">
   <div id="top-descount" class="banner-container"></div>
  </div>

 </div>

 <div class="banner-wrapper">
  <span>
   <h2>Productos con mejor rating del mes </h2>
   <hr>
   <ion-icon name="star-outline"></ion-icon>
  </span>
  <div class="banner-carousel">
   <div id="top-rating" class="banner-container">
    <ion-icon name="chevron-back-outline" class="banner-icon-back"></ion-icon>
    <ion-icon name="chevron-forward-outline" class="banner-icon-next"></ion-icon>
   </div>
  </div>
 </div>

 <section>
  <div class="carousel-logos-title">
   <h2>
    Empresas que confian en nosotros para vender sus productos
   </h2>
  </div>
  <div class="carousel-logos">
   <div class="logos-slide">
    <img loading="lazy" src="assets/logos/3m.svg" alt="logo 3m" />
    <img loading="lazy" src="assets/logos/barstool-store.svg" alt="logo barstool" />
    <img loading="lazy" src="assets/logos/budweiser.svg" alt="logo budweiser" />
    <img loading="lazy" src="assets/logos/buzzfeed.svg" alt="logo buzzfeed" />
    <img loading="lazy" src="assets/logos/forbes.svg" alt="logo forbes" />
    <img loading="lazy" src="assets/logos/macys.svg" alt="logo macys" />
    <img loading="lazy" src="assets/logos/menshealth.svg" alt=" logo menshealth" />
    <img loading="lazy" src="assets/logos/mrbeast.svg" alt="logo mrbeast" />
   </div>
   <div class="logos-slide">
    <img loading="lazy" src="assets/logos/3m.svg" alt="logo 3m" />
    <img loading="lazy" src="assets/logos/barstool-store.svg" alt="logo barstool" />
    <img loading="lazy" src="assets/logos/budweiser.svg" alt="logo budweiser" />
    <img loading="lazy" src="assets/logos/buzzfeed.svg" alt="logo buzzfeed" />
    <img loading="lazy" src="assets/logos/forbes.svg" alt="logo forbes" />
    <img loading="lazy" src="assets/logos/macys.svg" alt="logo macys" />
    <img loading="lazy" src="assets/logos/menshealth.svg" alt=" logo menshealth" />
    <img loading="lazy" src="assets/logos/mrbeast.svg" alt="logo mrbeast" />
   </div>
  </div>

 </section>