<section>

 <div class="banner-wrapper">
  <span>
   <h2>Productos con descuento del mes</h2>
   <hr>
   <ion-icon name="pricetag-outline" class="icon-banner-wrapper"></ion-icon>
  </span>

  <div class="banner-carousel">
   <div id="top-descount" class="banner-container"></div>
  </div>

 </div>

 <div class="banner-wrapper">
  <span>
   <h2>Productos con mejor rating del mes </h2>
   <hr>
   <ion-icon name="star-outline" class="icon-banner-wrapper"></ion-icon>
  </span>
  <div class="banner-carousel">
   <div id="top-rating" class="banner-container">
    <ion-icon name="chevron-back-outline" class="banner-icon-back"></ion-icon>
    <ion-icon name="chevron-forward-outline" class="banner-icon-next"></ion-icon>
   </div>
  </div>
 </div>
</section>
<section>
 <p class="language spanish" style="text-align: center;width: 100%;font-size: 26px;font-weight: 800;margin-top: 1rem; ">
  Categorías en
  tendencia</p>
 <p class="language english" style="text-align: center;width: 100%;font-size: 26px;font-weight: 800;margin-top: 1rem; ">
  Trending
  department</p>
 <div class="glitch-container">
  <div class="glitch-item kitchen">
   <p class="language english">Kitchen</p>
   <p class="language spanish">Cocina</p>
  </div>
  <div class="glitch-item smartphones">
   <p class="language english">Smartphones</p>
   <p class="language spanish">Celulares</p>
  </div>
  <div class="glitch-item mens-shoes">
   <p class="language english">mens shoes</p>
   <p class="language spanish">Zapatos hombre</p>
  </div>
  <div class="glitch-item women">
   <p class="language english">Women style</p>
   <p class="language spanish">Estilo femenino</p>
  </div>
 </div>

</section>

<section>
 <div class="carousel-logos-title">
  <h2>
   Empresas que confian en nosotros para vender sus productos
  </h2>
 </div>
 <div class="carousel-logos">
  <div class="logos-slide">
   <img loading="lazy" src="assets/logos/3m.svg" alt="logo 3m" />
   <img loading="lazy" src="assets/logos/barstool-store.svg" alt="logo barstool" />
   <img loading="lazy" src="assets/logos/budweiser.svg" alt="logo budweiser" />
   <img loading="lazy" src="assets/logos/buzzfeed.svg" alt="logo buzzfeed" />
   <img loading="lazy" src="assets/logos/forbes.svg" alt="logo forbes" />
   <img loading="lazy" src="assets/logos/macys.svg" alt="logo macys" />
   <img loading="lazy" src="assets/logos/menshealth.svg" alt=" logo menshealth" />
   <img loading="lazy" src="assets/logos/mrbeast.svg" alt="logo mrbeast" />
  </div>
  <div class="logos-slide">
   <img loading="lazy" src="assets/logos/3m.svg" alt="logo 3m" />
   <img loading="lazy" src="assets/logos/barstool-store.svg" alt="logo barstool" />
   <img loading="lazy" src="assets/logos/budweiser.svg" alt="logo budweiser" />
   <img loading="lazy" src="assets/logos/buzzfeed.svg" alt="logo buzzfeed" />
   <img loading="lazy" src="assets/logos/forbes.svg" alt="logo forbes" />
   <img loading="lazy" src="assets/logos/macys.svg" alt="logo macys" />
   <img loading="lazy" src="assets/logos/menshealth.svg" alt=" logo menshealth" />
   <img loading="lazy" src="assets/logos/mrbeast.svg" alt="logo mrbeast" />
  </div>

 </div>

</section>