<article class="page-login">
 <div id="login-container">
  <div class="form-container sign-up">
   <form>
    <h1 class="language spanish">Crear cuenta</h1>
    <h1 class="language english">Create Account</h1>
    <div class="login-social-icons">
     <ion-icon name="logo-google"></ion-icon>
     <ion-icon name="logo-facebook"></ion-icon>
     <ion-icon name="logo-apple"></ion-icon>
    </div>
    <span class="language english">or use your email for registeration</span>
    <span class="language spanish">o utilice su correo electrónico para registrarse</span>
    <input type="text" placeholder="Name" required id="create-name" />
    <input type="email" placeholder="Email" required id="create-email" />
    <input type="password" placeholder="Password" required id="create-password" />
    <button id="btn-signUp">Sign Up</button>
   </form>
  </div>
  <div class="form-container sign-in">
   <form>
    <h1 class="language spanish">Iniciar sesión</h1>
    <h1 class="language english">Sign In</h1>
    <div class="login-social-icons">
     <ion-icon name="logo-google"></ion-icon>
     <ion-icon name="logo-facebook"></ion-icon>
     <ion-icon name="logo-apple"></ion-icon>
    </div>
    <span class="language english">or use your email password</span>
    <span class="language spanish">o utiliza tu contraseña de correo electrónico
    </span>
    <input type="email" placeholder="Email" id="login-email" required />
    <input type="password" placeholder="Password" required id="login-password" />
    <span style="cursor: pointer;">Forget Your Password?</span>
    <button id="btn-signIn">Sign In</button>
   </form>
  </div>
  <div class="toggle-container">
   <div class="toggle">
    <div class="toggle-panel toggle-left">
     <h1 class="language english">Welcome Back!</h1>
     <h1 class="language spanish">¡Bienvenido de nuevo!</h1>
     <p class="language english">Enter your personal details to use all of site features</p>
     <p class="language spanish">Ingrese sus datos personales para utilizar todas las funciones del sitio</p>
     <button class="hidden" id="btn-toggle-login">Sign In</button>
    </div>
    <div class="toggle-panel toggle-right">
     <h1>E-Smarthy</h1>
     <p class="language english">Register with your personal details to use all of site features</p>
     <p class="language spanish">Regístrese con sus datos personales para utilizar todas las funciones del sitio</p>
     <button class="hidden" id="btn-toggle-register">Sign Up</button>
    </div>
   </div>
  </div>
 </div>
</article>