<article class="page-product-detail" id="product-detail">
   <!-- <a href="#/products" class="icon-arrow-product-detail"><ion-icon name="arrow-back-circle-outline"></ion-icon></a> -->
   <!-- <section class="first-section-product-detail">

      <div class="image-product-container">
         <div class="aside-image-container">
            <img loading="lazy" src="https://cdn.dummyjson.com/products/images/womens-bags/Prada%20Women%20Bag/1.png"
               class="active" alt="">
            <img loading="lazy" src="https://cdn.dummyjson.com/products/images/womens-bags/Prada%20Women%20Bag/2.png"
               alt="">
            <img loading="lazy" src="https://cdn.dummyjson.com/products/images/womens-bags/Prada%20Women%20Bag/3.png"
               alt="">
         </div>
         <div class="image-product-show">
            <img loading="lazy"
               src="https://cdn.dummyjson.com/products/images/womens-bags/Prada%20Women%20Bag/thumbnail.png" alt="">
         </div>
      </div>
      <div class="details-product-container">

         <h1>Prada Women Bag</h1>
         <p>The Prada Women Bag is an iconic designer bag that exudes elegance and luxury. Crafted with precision
            and
            featuring the Prada logo, it's a statement piece for fashion enthusiasts.</p>

         <div class="details-product-price">
            <span>
               <ion-icon name="caret-down-outline"></ion-icon>
               18.3 % desc.
            </span>
            <p class="price-card-product">&#8364; 599.99</p>

         </div>


         <a href="cart.html" class="btn-division">Agregar al carrito</a>
         <div class="footer-pay">
            <img loading="lazy" src="assets/cards/amex.png" alt="card amex image">
            <img loading="lazy" src="assets/cards/apple-pay.png" alt="card apple pay image">
            <img loading="lazy" src="assets/cards/google-pay.jpg" alt="card google pay image">
            <img loading="lazy" src="assets/cards/mastercard.png" alt="card mastercard image">
            <img loading="lazy" src="assets/cards/paypal.jpg" alt="paypal image">
            <img loading="lazy" src="assets/cards/shop-pay.webp" alt="card shop pay image">
            <img loading="lazy" src="assets/cards/visa.png" alt="card visa image">
         </div>
      </div>
   </section>
   <section class="information-section-product-detail">

      <div class="product-detail-tags">
         <span>
            <p>home decoration</p><ion-icon name="pricetags-outline"></ion-icon>
         </span>
         <span>
            <p>artificial plants</p><ion-icon name="pricetags-outline"></ion-icon>
         </span>
      </div>
      <div class="product-detail-info">
         <span>
            <p>Stock:</p>
            <p>89</p>
         </span>

         <span>
            <p>Peso (libras):</p>
            <p>9</p>
         </span>
         <span>
            <p>Ancho:</p>
            <p>27.15</p>

         </span>
         <span>
            <p>Altura:</p>
            <p>14.43</p>
         </span>
         <span>
            <p>Profundidad:</p>
            <p>10.05</p>
         </span>
      </div>
      <p>Garantía de 5 años</p>
      <p>Envíos en 1 semana</p>
      <div class="product-detail-stock true">
         <ion-icon class="icon-product-stock check" name="checkmark-outline"></ion-icon>
         <ion-icon class="icon-product-stock close" name="close-outline"></ion-icon>
         <p>En stock</p>
      </div>
      <p>Política de retorno de 7 días</p>
      <p>Orden mínima de 7 productos</p>

   </section>
   <section class="reviews-section-product-detail">
      <div class="reviews-rating-product-detail">
         <h3>Rating</h3>
         <div class="banner-rating">
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-half-outline"></ion-icon> (3.61)
         </div>
      </div>
      <div class="reviews-container-product-detail">

         <div class="review-user-product-detail">
            <div class="review-user-user-container">
               <ion-icon name="person-outline"></ion-icon>
               <span>
                  <p>Olivia Anderson</p>
                  <p>olivia.anderson@x.dummyjson.com</p>
               </span>
            </div>
            <div class="review-comment-container">
               <span>
                  <div class="banner-rating">
                     <ion-icon name="star-outline"></ion-icon>
                     <ion-icon name="star-outline"></ion-icon>
                     <ion-icon name="star-outline"></ion-icon>
                     <ion-icon name="star-outline"></ion-icon>
                     <ion-icon name="star-outline"></ion-icon> (5)
                  </div>
                  <p>2024-05-23</p>
               </span>
               <p>Great value for money!</p>
            </div>
         </div>
      </div>
      <div class="reviews-container-product-detail">

         <div class="review-user-product-detail">
            <div class="review-user-user-container">
               <ion-icon name="person-outline"></ion-icon>
               <span>
                  <p>Grace Perry</p>
                  <p>grace.perry@x.dummyjson.com</p>
               </span>
            </div>
            <div class="review-comment-container">
               <span>
                  <div class="banner-rating">
                     <ion-icon name="star-outline"></ion-icon>
                     <ion-icon name="star-outline"></ion-icon> (2)
                  </div>
                  <p>2024-05-23</p>
               </span>
               <p>Very unhappy with my purchase!</p>
            </div>
         </div>
      </div>
      <div class="reviews-container-product-detail">

         <div class="review-user-product-detail">
            <div class="review-user-user-container">
               <ion-icon name="person-outline"></ion-icon>
               <span>
                  <p>Emma Wilson</p>
                  <p>emma.wilson@x.dummyjson.com</p>
               </span>
            </div>
            <div class="review-comment-container">
               <span>
                  <div class="banner-rating">
                     <ion-icon name="star-outline"></ion-icon>
                     <ion-icon name="star-outline"></ion-icon>
                     <ion-icon name="star-outline"></ion-icon>
                     <ion-icon name="star-outline"></ion-icon>
                     <ion-icon name="star-outline"></ion-icon> (5)
                  </div>
                  <p>2024-05-23</p>
               </span>
               <p>Highly recommended!</p>
            </div>
         </div>
      </div>

   </section> -->
</article>