<section class="page-us">
  <h1>Nosotros somos E-Smarthy</h1>
  <div class="us-banner">
    <video src="./assets/us/smile.mp4" muted loading="lazy" autoplay loop>
    </video>
  </div>
  <div class="us-info">
    <p class="us-text-title">Somos ingenieros de la cotidianidad</p>
    <p>Durante más de una década, E-Smarthy ha sido una empresa suiza pionera en el diseño de artículos básicos para
      el
      hogar de primera calidad que transforman las rutinas cotidianas y las transforman delicadamente en rituales
      llenos de significado.</p>
    <p>Lo llamamos ingeniería cotidiana.</p>
  </div>

  <div class="us-content-container">

    <div class="us-content-left">
      <p class="us-text-title">Redefiniendo lo ordinario</p>
      <p>Fundada en 2013 por los diseñadores industriales Bruce Wayne y Lina Wayne, E-Smarthy se especializa en
        electrodomésticos de cocina de primera calidad que combinan a la perfección estética, funcionalidad y
        durabilidad.</p>
      <p>En el centro de nuestro enfoque se encuentra un profundo conocimiento del comportamiento humano. Observamos
        cómo las personas se desenvuelven en su vida diaria, buscando espacios que la comunidad de diseño suele pasar
        por
        alto y trabajando para eliminar la monotonía innecesaria.</p>
      <p> Con cada nuevo proyecto de E-Smarthy, nuestro objetivo es aportar significado y belleza a las rutinas
        mundanas,
        transformándolas delicadamente en pequeños rituales.</p>
    </div>
    <div class="us-content-right">
      <video src="./assets/us/linabruce.mp4" muted loading="lazy" autoplay loop></video>
    </div>
  </div>

  <div class="us-content-wrapper">

    <div class="us-content-left">
      <video src="./assets/us/kitchen.mp4" muted loading="lazy" autoplay loop></video>
    </div>
    <div class="us-content-right">
      <p class="us-text-title">Una sinergia holística</p>
      <p>

        Creamos objetos distintivos pero delicados que se destacan y llaman la atención, al mismo tiempo que encajan
        perfectamente incluso en los espacios más elegantes.
      </p>
      <p>

        No se trata solo de apariencias; lo que nos distingue es la forma en que integramos diseño e ingeniería: la
        sinergia de estética, funcionalidad y durabilidad.
      </p>
    </div>
  </div>
  <div class="us-banner">
    <video src="./assets/us/industry.mp4" muted loading="lazy" autoplay loop>
    </video>
  </div>
  <div class="us-info">
    <p class="us-text-title">Calidad en todos los aspectos
    </p>
    <p>

      Desde los materiales que seleccionamos hasta el nivel de precisión en el ensamblaje, la calidad es clave.
      Dedicamos incontables horas hasta a los detalles más minúsculos.
    </p>
    <p>

      En E-Smarthy, este compromiso se extiende a la forma en que comunicamos, distribuimos y brindamos servicios. Nos
      esforzamos por garantizar que toda su experiencia esté impregnada de una sensación de calidad y cuidado.
    </p>
  </div>
  <div class="us-content-container">

    <div class="us-content-left">
      <p class="us-text-title">Responsabilidad incorporada
      </p>
      <p>

        La sostenibilidad forma parte de nuestro ADN.
      </p>
      <p>

        Nuestros productos y servicios permiten un estilo de vida más consciente al elegir materiales duraderos y de
        alta calidad y rechazar filtros de plástico desechables, botellas de agua, cápsulas de aluminio y otros
        artículos de un solo uso.
      </p>
      <p>

        Fomentamos un cambio del consumismo descuidado hacia la inversión en longevidad.
      </p>
    </div>
    <div class="us-content-right">
      <video src="./assets/us/working.mp4" muted loading="lazy" autoplay loop></video>
    </div>
  </div>
  <hr>
  <div class="us-contact">

    <div class="us-contact-map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2701.4659141055504!2d8.057247475465305!3d47.383341603369196!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47903bf5697be439%3A0x5426aa78eccd190d!2sStadion%20Br%C3%BCgglifeld!5e0!3m2!1ses!2sar!4v1731531865679!5m2!1ses!2sar"
        width="100%" height="100%" style="border:0;box-shadow: 3px 3px 3px black; border-radius: 22px;"
        allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="us-contact-info">
      <p>

        E-Smarthy
      </p>
      <p>

        Brügglifeldweg 7,
        5000 Suhr, Suiza
      </p>
      <p>

        Representada en el Reino Unido por: Bruce Wayne Ltd
        Enterprise House, Fulham Rd., London SW6 1HS
      </p>
    </div>
  </div>
  <hr>
  <div class="us-links">
    <a class="nav-link" href="product.html">Conoce nuestros productos</a>
    <a class="nav-link" href="contact.html">Charla con nosotros</a>
    <a class="nav-link" href="gift-card.html">Conoce la gift card premium</a>
  </div>

</section>