<section class="page">

  <h1>Preguntas frecuentes</h1>

  <article class="details-container">
    <label for="toggle-cross-2">
      <p>¿Puedo cambiar o cancelar mi pedido?</p>
      <input type="checkbox" id="toggle-cross-2" class="toggle-cross" style="display: none;">
      <div class="details-icon-cross">
        <span class="icon-cross-vertical"></span>
        <span class="icon-cross-horizontal"></span>
      </div>
    </label>
    <div class="details-menu">
      <p>Actualmente estamos trabajando con un gran volumen de pedidos y es posible que no podamos cambiar o cancelar
        su
        pedido antes del envío.
      </p>
    </div>
  </article>

  <article class="details-container">
    <label for="toggle-cross-3">

      <p style="max-width: 85%;">No puedo encontrar mi país en la lista de lugares a los que realizan envíos: ¿cómo
        puedo comprar productos
        E-Smarthy?</p>
      <input type="checkbox" id="toggle-cross-3" class="toggle-cross" style="display: none;">
      <div class="details-icon-cross">
        <span class="icon-cross-vertical"></span>
        <span class="icon-cross-horizontal"></span>
      </div>
    </label>
    <div class="details-menu">
      <p>Lamentablemente no realizamos envíos a tu país en este momento.
      </p>
    </div>
  </article>


  <article class="details-container">
    <label for="toggle-cross-4">

      <p>¿El IVA está incluido en el coste de mi compra?</p>
      <input type="checkbox" id="toggle-cross-4" class="toggle-cross" style="display: none;">
      <div class="details-icon-cross">
        <span class="icon-cross-vertical"></span>
        <span class="icon-cross-horizontal"></span>
      </div>
    </label>
    <div class="details-menu">
      <p>Para los clientes que compran dentro de la UE, los precios que se muestran en nuestro sitio web ya incluyen
        el
        IVA. Los clientes que compran fuera de la UE pueden estar sujetos a cargos de importación, aranceles e
        impuestos,
        incluido el IVA, que no están incluidos en los precios de nuestro sitio web. Recomendamos leer nuestros
        Términos y
        condiciones para obtener más detalles antes de realizar una compra.</p>
    </div>
  </article>
  <article class="details-container">
    <label for="toggle-cross-5">

      <p>¿Cuándo se enviará mi pedido?</p>
      <input type="checkbox" id="toggle-cross-5" class="toggle-cross" style="display: none;">
      <div class="details-icon-cross">
        <span class="icon-cross-vertical"></span>
        <span class="icon-cross-horizontal"></span>
      </div>
    </label>
    <div class="details-menu">
      <p>
        Una vez que realizas un pedido, el procesamiento suele demorar entre 1 y 2 días hábiles. Luego, nuestros
        transportistas se encargan del resto. Recibirás una notificación de envío con un número de seguimiento tan
        pronto
        como tu pedido esté en camino.
      </p>
    </div>
  </article>

  <article class="details-container">
    <label for="toggle-cross-6">

      <p>¿Soy responsable de los aranceles y tarifas aduaneras?</p>
      <input type="checkbox" id="toggle-cross-6" class="toggle-cross" style="display: none;">
      <div class="details-icon-cross">
        <span class="icon-cross-vertical"></span>
        <span class="icon-cross-horizontal"></span>
      </div>
    </label>
    <div class="details-menu">
      <p>Si realiza un pedido a una dirección de entrega fuera de la UE, su pedido puede estar sujeto a cargos de
        importación, aranceles e impuestos que usted, como cliente, deberá pagar. Para obtener más información,
        comuníquese
        con su oficina de aduanas local antes de realizar un pedido. Si reside en el Reino Unido, E-Smarthy se hará
        cargo
        de
        los aranceles aduaneros y los incluirá en el precio del envío. ¡Estamos trabajando para que E-Smarthy esté
        disponible
        sin aranceles aduaneros en todos los países en el futuro!</p>
    </div>
  </article>
  <article class="details-container">
    <label for="toggle-cross-7">

      <p>Parece que mi seguimiento no funciona.</p>
      <input type="checkbox" id="toggle-cross-7" class="toggle-cross" style="display: none;">
      <div class="details-icon-cross">
        <span class="icon-cross-vertical"></span>
        <span class="icon-cross-horizontal"></span>
      </div>
    </label>
    <div class="details-menu">
      <p>¡Lo sentimos! En algunos casos, el transportista tardará entre 1 y 2 días hábiles en registrar el estado del
        envío de tu pedido. Si tu número de seguimiento sigue sin actualizarse o no funciona, comunícate <a
          href="/contacts" data-link>
          con nosotros
        </a>con tu número de pedido.</p>
    </div>
  </article>
  <article class="details-container">
    <label for="toggle-cross-8">

      <p>¿Cómo hago una devolución si estoy en la UE?</p>
      <input type="checkbox" id="toggle-cross-8" class="toggle-cross" style="display: none;">
      <div class="details-icon-cross">
        <span class="icon-cross-vertical"></span>
        <span class="icon-cross-horizontal"></span>
      </div>
    </label>
    <div class="details-menu">
      <p>Lamentamos que no te haya gustado tu producto E-Smarthy. Las devoluciones deben enviarse dentro de los 30
        días a
        partir de la fecha en que recibiste tu compra. Si resides en la Unión Europea, utiliza la etiqueta de
        devolución
        gratuita que se incluye en el paquete. Para devolver tu compra:</p>
      <ol style="list-style-type: decimal;">

        <li>Asegúrate de que el producto que deseas devolver esté en las mismas condiciones y en el mismo paquete en
          el que
          lo recibiste.
        </li>
        <li>Saca la etiqueta de devolución y el formulario de devolución de la caja de envío.</li>
        <li>Empaca la caja del producto dentro de la caja de envío de la misma manera en que te llegó.</li>
        <li>Completa el formulario de devolución y colócalo dentro de la caja. Asegúrate de sellar la caja de envío de
          forma segura con cinta adhesiva.
        </li>
        <li>Pega la etiqueta de devolución sobre la etiqueta de envío existente y déjala en un punto de servicio del
          transportista indicado en la etiqueta de devolución.</li>
      </ol>
      <p>Ten en cuenta que no podremos reembolsarte el importe de los productos consumibles con un sello roto. Tampoco
        podremos emitir un reembolso completo por ningún producto con signos visibles de uso. Consulta nuestros
        Términos
        de desistimiento para obtener más información.</p>
    </div>
  </article>
  <article class="details-container">
    <label for="toggle-cross-9">

      <p>¿Cómo hago una devolución si estoy fuera de la UE?</p>
      <input type="checkbox" id="toggle-cross-9" class="toggle-cross" style="display: none;">
      <div class="details-icon-cross">
        <span class="icon-cross-vertical"></span>
        <span class="icon-cross-horizontal"></span>
      </div>
    </label>
    <div class="details-menu">
      <p>Lamentamos que no le haya gustado su producto E-Smarthy. <a href="">

          Comuníquese con nosotros
        </a>
        con su número de pedido y los
        productos que desea devolver y nos encargaremos del resto.</p>
    </div>
  </article>
  <article class="details-container">
    <label for="toggle-cross-10">

      <p>¡Ayuda! No encuentro mi comprobante de devolución.</p>
      <input type="checkbox" id="toggle-cross-10" class="toggle-cross" style="display: none;">
      <div class="details-icon-cross">
        <span class="icon-cross-vertical"></span>
        <span class="icon-cross-horizontal"></span>
      </div>
    </label>
    <div class="details-menu">
      <p>Si resides en la UE y tu caja de envío no tiene un comprobante de devolución en su interior, ponte en
        contacto
        con nosotros y te ayudaremos con tu devolución. Si resides fuera de la UE, no te preocupes, nuestros paquetes
        fuera
        de la UE no tienen comprobantes de devolución. Ponte en contacto con nosotros y te ayudaremos con tu
        devolución.
      </p>
    </div>
  </article>

  <article class="details-container">
    <label for="toggle-cross-11">

      <p>¿Cuál es su política de devolución?</p>
      <input type="checkbox" id="toggle-cross-11" class="toggle-cross" style="display: none;">
      <div class="details-icon-cross">
        <span class="icon-cross-vertical"></span>
        <span class="icon-cross-horizontal"></span>
      </div>
    </label>
    <div class="details-menu">
      <p>Ofrecemos devoluciones gratuitas y sin riesgos para todos los pedidos. Todas las devoluciones deben enviarse
        dentro de los 30 días posteriores a la recepción de su pedido. El producto o los productos deben estar en su
        embalaje original y en las mismas condiciones en las que se encontraban cuando se recibieron. Consulte
        nuestras
        <a href="">

          Condiciones de desistimiento
        </a>
        para obtener más información.
      </p>
    </div>
  </article>

  <article class="details-container">
    <label for="toggle-cross-12">

      <p>¿Cuánto tiempo se tarda en procesar una devolución?</p>
      <input type="checkbox" id="toggle-cross-12" class="toggle-cross" style="display: none;">
      <div class="details-icon-cross">
        <span class="icon-cross-vertical"></span>
        <span class="icon-cross-horizontal"></span>
      </div>
    </label>
    <div class="details-menu">
      <p>Los reembolsos de tarjetas de crédito generalmente demoran entre 5 y 10 días hábiles para aparecer en su
        estado
        de cuenta.


      </p>
    </div>
  </article>
  <article class="details-container">
    <label for="toggle-cross-13">

      <p>¿Qué hago si recibo el producto equivocado?</p>
      <input type="checkbox" id="toggle-cross-13" class="toggle-cross" style="display: none;">
      <div class="details-icon-cross">
        <span class="icon-cross-vertical"></span>
        <span class="icon-cross-horizontal"></span>
      </div>
    </label>
    <div class="details-menu">
      <p>¡Lo sentimos! Si recibiste algo diferente a lo que pediste,
        <a href="">

          comunícate con nosotros
        </a>
        y nos aseguraremos de
        enviarte el producto correcto.
      </p>
    </div>
  </article>

</section>