<section class="page">
  <h1>
    Payments, Delivery & Returns
  </h1>
  <p class="shipping-page-title">Información general de envío
  </p>
  <p>Una vez que se haya enviado su pedido, recibirá un correo electrónico de confirmación de envío de E-Smarthy con
    un
    enlace
    para realizar el seguimiento de su pedido. Revise también su carpeta de correo no deseado y contáctenos si no ha
    recibido el pedido en un plazo de 6 a 10 días.</p>
  <p class="shipping-page-title">Costos de envío y tiempos de entrega
  </p>
  <div class="shipping-page-info-container">
    <span>
      <p>Método de envío:</p>
      <p>UPS (con seguimiento, 7-14 días)</p>
    </span>

    <span>
      <p>Coste de envío: </p>
      <p>40 EUR</p>
    </span>
    <span>
      <p>Devoluciones: </p>
      <p>20 EUR</p>
    </span>
    <p class="shipping-info">* Lamentablemente no realizamos envíos a estos países en este momento: Afganistán,
      Argelia,
      Samoa Americana,
      Angola, Anguila, Antártica, Antigua y Barbuda, Aruba, Australia, Bahamas, Barbados, Bielorrusia, Benin, Bermuda,
      Botswana, Isla Bouvet, Gran Bretaña. Territorio del Océano Índico, Islas Vírgenes Británicas, Burkina Faso,
      Burundi,
      Camboya, Camerún, Cabo Verde, Caribe, Países Bajos, Islas Caimán, República Centroafricana, Chad, Isla de
      Navidad,
      Islas Cocos (Keeling), Comoras, Congo, Islas Cook, Costa de Marfil, Curazao, Djibouti, Dominica, Guinea
      Ecuatorial,
      Eritrea, Eswatini, Etiopía, Islas Feroe, Islas Malvinas, Fiji, Guayana Francesa, Polinesia Francesa, Territorios
      Australes Franceses, Gabón, Gambia, Ghana, Groenlandia, Granada, Guadalupe, Guam, Guinea, Guinea-Bissau, Islas
      Heard
      y McDonald, Irán, Irak, Japón, Kenia, Kiribati, Kosovo, Laos, Lesotho, Liberia, Libia, Madagascar, Malawi,
      Maldivas,
      Mali, Islas Marshall, Martinica, Mauritania, Mauricio, Mayotte, Micronesia, Montserrat, Marruecos, Mozambique,
      Namibia, Nauru, Nueva Caledonia, Nueva Zelanda, Níger, Niue, Isla Norfolk, Corea del Norte, Islas Marianas del
      Norte,
      Palau, Territorios Palestinos, Papúa Nueva Guinea, República Popular China, Islas Pitcarin, Reunión, Rusia,
      Ruanda,
      San Pedro y Miquelón, Samoa, Santo Tomé y Príncipe, Senegal, Seychelles, Sierra Leona, Sint Martín, Islas
      Salomón,
      Somalia, Islas Georgias del Sur y Sandwich del Sur, Sudán del Sur, San Bartolomé, Santa Elena, San Cristóbal y
      Nieves, Santa Lucía, San Martín, San Pedro y Miquelón, San Vicente y las Granadinas , Sudán, Svalbard y Jan
      Mayen,
      Siria, Tanzania, Timor Oriental, Togo, Tokelau, Tonga, Trinidad y Tobago, Túnez, Turquía, Islas Turcas y Caicos,
      Tuvalu, Ucrania, Islas Ultramarinas Menores de Estados Unidos, Islas Vírgenes de Estados Unidos, Uganda,
      Vanuatu,
      Vietnam, Wallis y Futuna, Sahara Occidental, Zambia, Zimbabue.
    </p>

    <a href="#/contact" class="btn-division">Contactanos</a>


  </div>
</section>