<section class="page-tracking">
  <h1>
    Seguimiento del pedido
  </h1>
  <p>En el momento de la compra le llegó a su mail su
    código de
    tracking. Con este número
    puede hacer el seguimiento de su pedido. Tenga en cuenta que después de ingresar el número de tracking deberá
    logearse para comprobar que es usted quien realizó la compra.</p>

  <form action="#" method="post" novalidate class="form-tracking">
    <div class=" input-group">
      <input type="number" name="tracking" id="tracking" placeholder="Ingrese número de envío" maxlength="6">
      <ion-icon name="cube-outline"></ion-icon>
    </div>
    <img loading="lazy" src="assets/containers.jpg" alt="">
  </form>

</section>